# Ignores for the ESP-IDF
sdkconfig
dependencies.lock
build/

# Ignores for MicroPython submodule
components/micropython/*

# Ignores for MicroPython partition definition
/partitions.csv

# Ignores for basic Python
.cache
